*.log
*.aux
*.ilg
*.out
*.ind
*.idx
*.toc
*.fdb_latexmk
*.yaml
*.fls
*.xdv
_minted-python/
__latexindent_temp.tex
.pdf
*.html
*.bak.tex
test.py
*.zip
*.rst
.vscode/
*.listing
.directory
Makefile